<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to the most Trusted and Timely News website </title>
    {% endif %}
</head>

<body>
    <div class="container">
        <div class="row">
            <header class="news-world-header clearfix">
                <h2>News World</h2>
                <div class="header-buttons">
                    <li style="margin-top: 0">
                        <input type="text" class="form-control" name="searchNews" autocomplete="off"
                            placeholder="Search News...">
                    </li>
                    <li>
                        <a href="">Business</a>
                    </li>
                    <li>
                        <a href="">World</a>
                    </li>
                    <li>
                        <a href="">Sports</a>
                    </li>
                </div>
            </header>
        </div>

</body>

</html>